<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Jeff Smick’s Bundle</string>
	<key>uuid</key>
	<string>FBE34938-FBCD-42CD-8DA0-D3387BEACF2D</string>
</dict>
</plist>
